body{ 
  text-align: center;
  font-family: sans-serif;
  font-size: 300%;


}


table {
  width: 90%;
}
  font-size: 30%;{
}

.currency {
  font-size:400%;
}
.comparator {
width: 100px;
}
.data{
  text-align:right;
}
